.wrapper
  =render partial: "shared/side_bar"
  .chat
    .chat__info
      .chat__info-left
        .chat__info-left__name
          %p
            = @group.name
        .chat__info-left__members
          %p
            Members: 
            - @group.users.each do |group_member|
              %div #{group_member.name}&nbsp;
      .chat__info-right
        = link_to 'Edit', edit_group_path(@group.id), class: "btn"
    .chat__contents
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image , id: 'd-image' do
          = fa_icon 'picture-o', class: 'fa-image'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'btn'
        
